.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  animation: loading 1.5s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Smooth bouncing */
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    opacity: 1;
  }
}

.loading-text {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #555;
  animation: fadeText 1.5s infinite ease-in-out;
}

@keyframes fadeText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
